<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		Bienvenido <%= @user.name %> <%= @user.lastname %>.
		Puedes revisar tus invitaciones y tareas pendientes en 
	</body>
</html>