<% if @user.id == session[:user_id] || User.find(session[:user_id]).admin %>
<center><h1>Editar Usuario</h1>

<%= render 'edit_form' %>
</center>
<% else %>
<center><h1>Error : Usted no tiene los permisos para editar este usuario</h1></center>
<% end %>
